.wrap{
  width: 100%;
  padding: 0px 15px;
}
.create-events input{
  display: block;
  margin: 10px 0px;
  width: 300px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.create-events button{
  height: 34px;
  width: 150px;
  border-radius: 4px;
  background-color: #009688;
  color: #fff;
  border: 1px solid #ccc;
  margin-right: 10px;
  cursor: pointer;
}

.event-label{
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0px;
  width: 300px;
}
.events-manager{
  float: left;
}
.events-manager table{
  width: 500px;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
.events-manager table th,
.events-manager table td{
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
}

.unit-config{
  border: 1px solid #ccc;
  margin: 10px 0px;
  padding: 10px;
  width: 300px;
}

.unit-config input{
  display: block;
  margin: 10px 0px;
  width: 200px;
  height: 20px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.unit-config button{
  height: 34px;
  width: 150px;
  border-radius: 4px;
  background-color: #009688;
  color: #fff;
  border: 1px solid #ccc;
  margin-right: 10px;
  cursor: pointer;
}
